<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- 
    Cần cài đặt package: System.Configuration.ConfigurationManager cho các project DAL, UI và ConsoleApp 
    thông qua NuGet Package Manager để đọc được thẻ này.
  -->
	<connectionStrings>
		<add name="MIPUB_DB"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=MIPUB_DB;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>